

body {
    background-color: white;
}
/*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*/
/*emoji sharing*/
.table-container{
    overflow-x:auto;
    margin-left: auto;
    margin-right: auto;
}
 table{
    width:fit-content !important;
    font-size:20px !important;
 }
td.first {
    width: auto;
}
input.hello[type="text"] {
    width: 80px;
    font-size:30px ;
    border: none ;

}
.anonymous-label{

    width: 300px;
    /*dispay: inline-block;*/
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-buttons {
    display: block;
    width: 300px;
    margin: auto;
}
.inner-button{
    display: inline
}

.button_next {
    background-color: rgb(224, 138, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_dashboard {
    background-color: rgb(72, 83, 247);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_instructions {
    background-color: rgb(72, 83, 247);
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {

    color: rgb(3, 14, 3);
    padding: 10px;
    text-align: center;

}

#myDIV {
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.switchLabel{
    position: relative;
    vertical-align: center;
    padding-left: 15px;
    font-size: 20px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*instructor account ejs*/
.class-list{
    list-style-type: none;
}

/*emoji history page*/
.table-center {
     display: table;
     width: 120%;
     height: 190%;
     min-height: 190%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    float: left;
}

.slider-readonly {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bfbfbf;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-readonly:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-readonly {
    background-color: #204f73;
}

input:focus+.slider-readonly {
    box-shadow: 0 0 1px #204f73;
}

input:checked+.slider-readonly:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider-readonly.round {
    border-radius: 34px;
}

.slider-readonly.round:before {
    border-radius: 50%;
}

div.ex1 {
    background-color: rgb(235, 235, 235);
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}



.messages {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

.message {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.textarea {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    resize: none;
    background: red;
}

.chart-history{
    padding-top:10px;
}

/*Homepage*/

 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

.button_login {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    border-radius: 8px;
    cursor: pointer;
    margin-inline-start: 25px;
    /* margin-left: 250px;
  margin-right: 250px; */
}

.button_register {
    background-color: rgb(35, 90, 134);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    border-radius: 8px;
    cursor: pointer;
    /*margin-inline-start: 500px;*/
    /* margin-left: 250px;
  margin-right: 250px; */
}


