<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<title>Play</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .button_next {
        background-color: rgb(224, 138, 80);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 30px;
        border-radius: 8px;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .button_dashboard {
        background-color: rgb(72, 83, 247);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 30px;
        border-radius: 8px;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .button_instructions {
        background-color: rgb(72, 83, 247);
        border: none;
        color: white;
        padding: 13px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 30px;
        border-radius: 8px;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .caption {

        color: rgb(3, 14, 3);
        padding: 10px;
        text-align: center;

    }

    #myDIV {
        padding: 50px 0;
        text-align: center;
        margin-top: 20px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .table {
        margin: auto;
        width: 37% !important;
        font-size: 12;
    }
      
      tr {
        width: 0vw;
      }
      
      td {
        display:inline-block;

        /* changing the value of the width will work with min width bro*/
      }
      th {
        display:inline-block;

        /* changing the value of the width will work with min width bro*/
      }




    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left: 380;
    }

    .switchLabel{
        position: absolute;
        left: 450;
       
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
<script type="text/javascript">
    function myFunction () {
        console.log('Executed!');
    }
    
    var interval = setInterval(function () { myFunction(); }, 6000);
    </script>


<div>
    <form action="/history/?reg_id=<%=reg_id%>" method="post">
        <input type="submit" value="History" />
    </form>
    <h2 class="text-center text-info">Emoji Sharing!</h2>
    <form class="form-group" action="/sendEmoji/?reg_id=<%=reg_id%>" method="post">
        <label class="switch">
            <input type="checkbox" name="isAnonymouse">
            <span class="slider round"></span>
        </label>
       <label class="switchLabel">
           Anonymouse user
       </label>
        <div>
            <table class="table table-bordered">
                
                <thead class="thead-light">
                    <tr>
                        <th width="120px" scope="colgroup">emoji</th>
                        <th width="120px" scope="colgroup">selection</th>
                        <th width="332px" scope="colgroup">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <input type="hidden" id='regID'  name="regID" value = "<%=reg_id%>">


                    <tr>
                        <td width="120px"  style="border: none;">
                            <input type="text" style="border: none; display: inline !important; font-size:30px" name="image" value="&#x1f601;" alt="" height=100 width=100 readonly />
                        </td>
                        <td width="120px" style="border: none;">
                            <div class="radio">
                                <input type="radio" id='regular'  name="optradio" value = "1">
                            </div>
                        </td width="332px" > 
                        <td style="border: none;">
                            <input style="border: 0" type="text" size="35" name="caption" value="I completely understand!" readonly /> </td>
                        </td>

                    </tr>

                    <tr>
                        <td width="120px" style="border: none;">
                            <input style="border: none; font-size:30px" type="text" name="image" value="&#128578;" alt="" height=100 width=100 readonly />
                        </td>
                        <td width="120px" style="border: none;">
                            <div class="radio">
                                <input type="radio" id='regular'  name="optradio" value = "2"> 
                            </div>
                        </td width="332px">
                        <td style="border: none;">
                            <input style="border: 0" type="text" size="35" name="caption" value="I think I’m getting it" readonly /> </td>
                        </td>

                    </tr>

                    <tr>
                        <td width="120px" style="border: none;">
                            <input type="text" style="border: none; font-size:30px" name="image" value="&#128528;" alt="" height=100 width=100 readonly />
                        </td>
                        <td width="120px" style="border: none;">
                            <input type="radio" id='regular'  name="optradio" value = "3" checked="checked">
                        </td width="332px">
                        <td style="border: none;"><input style="border: 0" size="35" type="text" name="caption" value="Neutral" readonly /> </td>
                        </td>
                    </tr>

                    <tr>
                        <td width="120px" style="border: none;">
                            <input type="text" style="border: none; font-size:30px" name="image" value="&#129300;" alt="" height=100 width=100 readonly />
                        </td>
                        <td width="120px" style="border: none;">
                            <input type="radio" id='regular'  name="optradio" value = "4">
                        </td width="332px">
                        <td  style="border: none;"><input style="border: 0" size="35" type="text" name="caption" value="I think I'm lost!" readonly /> </td>
                        </td>
                    </tr>

                    <tr>
                        <td width="120px" style="border: none;">
                            <input type="text" style="border: none; font-size:30px" name="image" value="&#128534;" alt="" height=100 width=100 readonly />
                        </td>
                        <td width="120px" style="border: none;"> 
                            <input type="radio" id='regular'  name="optradio" value = "5">
                        </td width="332px" style="border: none;">
                        <td style="border: none;"><input style="border: 0" size="45" type="text" name="caption" value="I completely don’t understand what’s going on!" readonly /> </td>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div>
            <input type="text" id="fname" name="fname" class="button_next" placeholder="type text here ...">
            <input type="submit" name="submit" class="button_next" value="Submit">

        </div>
    </form>
</div>