<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Forgot password:</h1>
        <form id="forgotPasswordForm" class="form" action="" method="POST">
            <label for="email" class="text-info">Email:</label>
            <input type="text" name="email" id="email" class="form-control">
            <br />
            <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit"/>
        </form>
</body>
</html>
