<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<title>Play</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<head>
       <script type="text/javascript">
        window.onload = function () {
            CanvasJS.addColorSet("myShades",
            [//colorSet Array   
            "#D3D3D3",         
            "#FF0000",
            "#FFA500",
            "#ffff00",
            '#17cbe3',
            "#3CB371",
            
                            
            ]);
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    colorSet: "myShades",
                    title: {
                        text: "Emoji'es count per minute"
                    },
                    data: [
                        {
                            //gray
                            type: "stackedColumn",
                            dataPoints: [
                                { y: 11, label: "1" },
                                { y: 9, label: "2" },
                                { y: 12, label: "3" },
                                { y: 10, label: "4" },
                                { y: 18, label: "5" },
                                { y: 8, label: "6" },
                                { y: 9, label: "7" },
                                { y: 3, label: "8" }

                            ]
                        },
                        {
                            //red
                            type: "stackedColumn",
                            dataPoints: [
                                { y: 5, label: "1" },
                                { y: 10, label: "2" },
                                { y: 8, label: "3" },
                                { y: 3, label: "4" },
                                { y: 9, label: "5" },
                                { y: 7, label: "6" },
                                { y: 12, label: "7" },
                                { y: 1, label: "8" }

                            ]
                        },
                        {
                            //orange
                            type: "stackedColumn",
                            dataPoints: [
                                { y: 3, label: "1" },
                                { y: 10, label: "2" },
                                { y: 1, label: "3" },
                                { y: 3, label: "4" },
                                { y: 9, label: "5" },
                                { y: 0, label: "6" },
                                { y: 2, label: "7" },
                                { y: 2, label: "8" }

                            ]
                        },
                        {
                            //yellow
                            type: "stackedColumn",
                            dataPoints: [
                                { y: 7, label: "1" },
                                { y: 10, label: "2" },
                                { y: 5, label: "3" },
                                { y: 13, label: "4" },
                                { y: 3, label: "5" },
                                { y: 10, label: "6" },
                                { y: 12, label: "7" },
                                { y: 10, label: "8" }

                            ]
                        },
                        {
                            //blue
                            type: "stackedColumn",
                            dataPoints: [
                                { y: 3, label: "1" },
                                { y: 10, label: "2" },
                                { y: 22, label: "3" },
                                { y: 13, label: "4" },
                                { y: 19, label: "5" },
                                { y: 10, label: "6" },
                                { y: 20, label: "7" },
                                { y: 10, label: "8" }

                            ]
                        },
                        {
                            //green
                            type: "stackedColumn",
                            dataPoints: [
                                { y: 3, label: "1" },
                                { y: 10, label: "2" },
                                { y: 22, label: "3" },
                                { y: 13, label: "4" },
                                { y: 19, label: "5" },
                                { y: 10, label: "6" },
                                { y: 20, label: "7" },
                                { y: 10, label: "8" }

                            ]
                        }
                    ]
                });

            chart.render();
        }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



    <script> 
        document.getElementById("Geeks").innerHTML =  
                             "Hello GeeksforGeeks!"; 
    </script> 
</head>
<style>
    .table-center {
        display: table;
        width: 120%;
        height: 190%;
        min-height: 190%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
        float: left;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left: 0;
    }

    .switchLabel {
        position: absolute;
        left: 80;

    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }





    .messages {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;
    }

    .message {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .textarea {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        resize: none;
        background: red;
    }
</style>


</div>




<div class="container">
    <div class="row table-center">
        <br><br><br><br>
        <p id="Geeks"></p> 
        <div class="col-md-6 col-sm-6 middle">

              <%if (isInstructor === true) { %>

                <div>
                    <label class="switch">
                        <input type="checkbox" name="isAnonymouse">
                        <span class="slider round"></span>
                    </label>
                    <label class="switchLabel">
                        visible
                    </label>
                </div>
                <% } %>

            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="col-md-6 col-sm-6 middle pull-right">
            <%if (isInstructor === true) { %>
            <div>
                <label class="switch">
                    <input type="checkbox" name="isAnonymouse">
                    <span class="slider round"></span>
                </label>
                <label class="switchLabel">
                    visible
                </label>
            </div>

            <% } %>
            <div>
                <div class="row">

                    <div class="message-wrap col-lg-8">
                        <div class="msg-wrap">


                            <div class="media msg ">

                                <div class="media-body">
                                    <small class="pull-right time" style="color:rgb(214, 136, 19)"><i
                                            class="fa fa-clock-o"></i> 12:10am</small>
                                    <h5 class="media-heading">Naimish Sakhpara</h5>
                                    <small class="col-lg-10">Location H-2, Ayojan Nagar, Near Gate-3, Near
                                        Shreyas Crossing Dharnidhar Derasar,
                                        Paldi, Ahmedabad 380007, Ahmedabad,
                                        India
                                        Phone 091 37 669307
                                        Email aapamdavad.district@gmail.com</small>
                                </div>
                            </div>
                            <div class="media msg">

                                <div class="media-body">
                                    <small class="pull-right time" style="color:rgb(214, 136, 19)"><i
                                            class="fa fa-clock-o"></i> 12:10am</small>

                                    <h5 class="media-heading">Naimish Sakhpara</h5>
                                    <small class="col-lg-10">Helooooooooooooooo</small>
                                </div>
                            </div>
                            <div class="media msg">

                                <div class="media-body">
                                    <small class="pull-right time" style="color:rgb(214, 136, 19)"><i
                                            class="fa fa-clock-o"></i> 12:10am</small>

                                    <h5 class="media-heading">Naimish Sakhpara</h5>
                                    <small class="col-lg-10">hi my name is Sara!</small>
                                </div>
                            </div>

                            <div class="media msg">

                                <div class="media-body">
                                    <small class="pull-right time" style="color:rgb(214, 136, 19)"><i
                                            class="fa fa-clock-o"></i> 12:10am</small>
                                    <h5 class="media-heading">Sarah rosana</h5>

                                    <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and
                                        close to the government had a #secret #meeting in a farmhouse in Maharashtra in
                                        which Anna Hazare send some representatives and they had a meeting in the
                                        discussed how to go about this all fast and how eventually this will
                                        end."</small>
                                </div>
                            </div>


                            <div class="media msg">

                                <div class="media-body">
                                    <small class="pull-right time" style="color:rgb(214, 136, 19)"><i
                                            class="fa fa-clock-o"></i> 12:10am</small>
                                    <h5 class="media-heading">Sarah rosana</h5>

                                    <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and
                                        close to the government had a #secret #meeting in a farmhouse in Maharashtra in
                                        which Anna Hazare send some representatives and they had a meeting in the
                                        discussed how to go about this all fast and how eventually this will
                                        end."</small>
                                </div>
                            </div>


                            <div class="media msg">

                                <div class="media-body">
                                    <small class="pull-right time" style="color:rgb(214, 136, 19)"><i
                                            class="fa fa-clock-o"></i> 12:10am</small>
                                    <h5 class="media-heading">Sarah rosana</h5>

                                    <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and
                                        close to the government had a #secret #meeting in a farmhouse in Maharashtra in
                                        which Anna Hazare send some representatives and they had a meeting in the
                                        discussed how to go about this all fast and how eventually this will
                                        end."</small>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-12 col-md-8">.col-12 .col-md-8</div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
</div>