<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script>
  function checkForm(form) {
    var emailFormat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    if (form.email.value.match(emailFormat)) {
      if (form.password.value != "" && form.password.value == form.passwordMatch.value) {
        return true;
      }else {
        alert("Error: Please check that you've entered and confirmed your passwords match!");
        form.password.focus();
        return false;
      }
    }else{
        alert("Error: Please check that you've entered a valid email address!");
        form.email.focus();
        return false;
    }
  }
</script>
<div id="instructor">
  <h3 class="text-center text-white pt-5">InstructorForm form</h3>
  <div class="container">
    <div id="instructorForm-row" class="row justify-content-center align-items-center">
      <div id="instructorForm-column" class="col-md-6">

        <div id="instructorForm-box" class="col-md-12">
<!--         was /action home-->
          <form id="instructorForm" name="instructorForm" class="form" action="/instructorRegister" method="POST"
                onsubmit="return checkForm(this);">
            <h3 class="text-center text-info">Instructor Registration Form</h3>

            <div class="form-group">
              <label for="firstName" class="text-info">Instructor Full Name:</label><br />
              <input type="text" name="name" id="firstName" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="email" class="text-info">Instructor Email:</label><br />
              <input type="text" name="email" id="email" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br />
              <input pattern=".{6,18}" title="Should be between 6 and 18 characters!" type="password"
                      name="password" id="password" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="passwordMatch" class="text-info">Confirm Password:</label><br />
              <input type="password" name="passwordMatch" id="passwordMatch" class="form-control" required />
            </div>

            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-info btn-md" value="Create Instructor Account" />
            </div>
            <div>
              <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <ul class="alert alert-primary" role="alert">
                  <% for (var i = 0 ; i < errors.length ; i++){ %>
                    <li> <%= errors[i].msg %>
                    </li>
                  <% }%>
                </ul>
              <% } %>
            </div>
            <div>
              If you already have an account. <a href="/instructorLogin">Log in</a>.
            </div>
            <div>
              Forgot password? <a href="/forget-password">Reset a new password here.</a>
            </div>

            <div id="class-lookup-link" class="text-left">
              <a href="/getClassLink" class="text-info">Look up your class link here</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

>