<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <script>
        function checkForm(form) {
            if (
                form.password.value != "" &&
                form.password.value == form.passwordMatch.value
            ) {
                //alert("Good Job");
                return true;
            } else {
                alert(
                    "Error: Please check that you've entered and confirmed your password!"
                );
                form.password.focus();
                return false;
            }
        }
    </script>

</head>
<body>
        <h1>Forgot password:</h1>
        <form id="resetPasswordForm" class="form" action="" method="POST" onsubmit="return checkForm(this);">
            <div class="form-group">
                <label for="password" class="text-info">Enter new password for <%= email%>:</label><br />
                <input pattern=".{6,18}" title="Should be between 6 and 18 characters!" type="password"
                        name="password" id="password" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="passwordMatch" class="text-info">Confirm new password:</label><br />
                <input type="password" name="passwordMatch" id="passwordMatch" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit"/>
            </div>
        </form>
</body>
</html>
