<!DOCTYPE html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Reset Password Link</title>
</head>
<body>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Here is your password link:</h4>
    <p><a href="<%= passwordLink %>">Reset link</a></p>
</div>
</body>
</html>

